body {
/*	background-color: rgb(245, 246, 247); */
	color: #000050;
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,f6f6f6+53,ffffff+100 */
background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

a {
	text-decoration: none;
	color: #000050;
}

.container {
	padding-left: 3%;
	padding-right: 3%;
	max-width: 768px;
}

footer {
	padding-top: 9px;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #000040;
}

.container img {
    max-width: 100%;
    height: auto;
}
