body {
	background-color: rgb(245, 246, 247);
	color: #000050;
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #000050;
}

.container {
	padding-left: 3%;
	padding-right: 3%;
}

footer {
	padding-top: 9px;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #000040;
}

section#menus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000050;
}
