#menu_container {
	background-color: #000050;
}
section#menus {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #000050;
	padding-left: 3%;
	padding-right: 3%;
	max-width: 768px;
}
ul.menu {
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000050;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -0.5em;
	padding: 0px;
}
ul.menu li {
	display: inline-block;
}
ul.menu li a.active { background-color: #000080; }
ul.menu li a {
	display: inline-block;
	color: white;
	padding: 0.5em;
	padding-bottom: 0.4em;
}
/*
ul.menu li + li:before {
	content: " | ";
}
*/
ul.menu li + li {
/*    padding-left: 0.5em; */
}


ul.langsw {
    display: block;
    text-transform: uppercase;
	font-weight: bold;
	background-color: #000050;
	color: white;
	padding: 0px;
	margin: 0px;
	width: 6em;
}
ul.langsw li { display: inline; }
/* ul.langsw li + li:before { content: " | "; } */
ul.langsw li + li a {
/*	margin-left: 0.5em; */
}
ul.langsw li a {
    color: white;
	padding: 0.5em;
	padding-bottom: 0.4em;
}
