<ul class="menu">{{- $currentPage := . -}}
{{- range .Site.Menus.main -}}
  {{- if .HasChildren -}}
    {{- if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) -}}
      <li class="expanded active-trail"><a href="{{.URL}}" title="{{ .Name }}" class="active">{{ .Name }}</a>
      {{- $len := sub (len .Children) 1 -}}
        <ul class="menu">
          {{- range $ind, $val := .Children -}}
            <li  class="leaf{{if $currentPage.IsMenuCurrent "main" . }} active-trail{{end}} {{ if eq $ind 0 }}first{{end}}{{ if eq $ind $len }}last{{end}}"><a href="{{.URL}}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{- end -}}
        </ul></li>
    {{- else -}}
      <li class="collapsed"><a href="{{.URL}}" title="{{ .Name }}">{{ .Name }}</a></li>
    {{- end -}}
  {{- else -}}
    <li class="leaf {{if $currentPage.IsMenuCurrent "main" . }} active{{end}}"><a href="{{.URL}}">{{ .Name }}</a></li>
  {{- end -}}
{{- end -}}
</ul>