<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="{{ .Lang }}" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/img/garland_favicon.ico" type="image/x-icon" />
    <title>{{- .Title }} | Vasko</title>
    <!-- <link type="text/css" rel="stylesheet" media="all" href="/css/aggregator.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/book.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/system.min.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.min.css" /> -->
{{- $ra := resources.Get "css/aggregator.css" -}}
{{- $rb := resources.Get "css/book.css" -}}
{{- $rc := resources.Get "css/node.css" -}}
{{- $rd := resources.Get "css/defaults.css" -}}
{{- $re := resources.Get "css/system.min.css" -}}
{{- $rf := resources.Get "css/system-menus.css" -}}
{{- $rg := resources.Get "css/user.css" -}}
{{- $rh := resources.Get "css/style.min.css" -}}
{{- $mcss := slice $ra $rb $rc $rd $re $rf $rg $rh | resources.Concat "css/bundle.css" | minify -}}
    <link type="text/css" rel="stylesheet" media="all" href="{{- $mcss.RelPermalink -}}" />
    <link type="text/css" rel="stylesheet" media="print" href="/css/print.min.css" />
    {{safeHTML `<!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="/css/fix-ie.css" />
    <![endif]-->` }}
  </head>
  <body class="sidebar-right">

  <!-- Layout -->
  <div id="header-region" class="clear-block"></div>

    <div id="wrapper">
    <div id="container" class="clear-block">

      <div id="header">
        <div id="logo-floater">
        <h1><a href="/{{ .Lang }}/home/" title="A Premier Ukrainian Law Firm"><img src="/img/garland_logo.png" alt="A Premier Ukrainian Law Firm" id="logo" /><span>A Premier Ukrainian Law Firm</span></a></h1>
        </div>

{{- partial "topmenu.html" . -}}
      </div> <!-- /header -->

      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
                                        <h2>{{- .Title -}}</h2>
<div class="clear-block">
            <div id="node-1" class="node">
